<div class="container">
  <div class="row">

    <div class="col-md-3">

      <p class="Lead">Purrfect Match</p>

      <!-- Attributes -->
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>

    </div>

    <div class="col-md-9">
      <div class="thumbnail">

        <%= image_tag @person.image_url, class: "image-responsive" %>

        <div class="caption">
          <h4><a><%= @person.name %></a></h4>
          <p><%= @person.description %></p>

          <% if current_user && @person.id == current_user.id || current_user && current_user.admin? %>

            <%= link_to "Edit Profile", edit_person_path(@person), class: "btn btn-xs btn-warning" %>

            <%= link_to "Delete Profile", person_path(@person), class: "btn btn-xs btn-danger" { method: :delete } %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
