<h1><%= @person.name %></h1>
Age: <p><%= @person.age %></p>
<p><%= image_tag(@person.image_url) %></p>
<% if @person.admin %>
  <h3><%= "Admin" %></h3>
<% end %>

<h1>Cats</h1>
<% if @person.cats.empty? %>
  <%= "I don't have cats" %>
<% else %>
<ul>
  <% @person.cats.each do |cat| %>
    <li><%= link_to cat.name, cat_path(cat) %></li>
  <% end %>
</ul>
<% end %>



<% if current_user && @person.id == current_user.id || current_user && current_user.admin %>
<%= link_to "Add a New Cat", new_cat_path, class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to "Edit Profile", edit_person_path(@person), class: "btn btn-primary" %>
  <br>
  <br>
  <%= link_to "Delete Profile", person_path(@person), { method: :delete } %>
<% end %>
