<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <h2>Search All Profiles Options</h2>

  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br><br>


  <h2>Additional Cat Options for Cat Only Results</h2>

  <%= f.label :age %>
  <%= f.number_field :age, min: 0 %><br><br>

  <%= f.label :breed %>
  <%= f.text_field :breed %><br><br>

  <%= f.label :temperament %>
  <%= f.text_field :temperament %><br><br>

  <%= f.label :sociability %>
  <%= f.text_field :sociability %><br><br>


  <h2>Additional Person Options for People Only Results</h2>

  <%= f.label :min_age_pref %>
  <%= f.number_field :min_age_pref, min: 0 %><br><br>

  <%= f.label :max_age_pref %>
  <%= f.number_field :max_age_pref, min: 0 %><br><br>

  <%= f.label :breed_pref %>
  <%= f.text_field :breed_pref %><br><br>

  <%= f.label :temperament_pref %>
  <%= f.text_field :temperament_pref %><br><br>

  <%= f.label :num_of_cats %>
  <%= f.number_field :num_of_cats, min: 0 %><br><br>

  <%= f.submit "Search" %>

<% end %>

<%= link_to "Back", profiles_path %>
